#nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: var(--nav-h);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 60px;

  background: transparent;
  z-index: 1000;
}